body{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
 h1{
    color: aqua;
    margin-bottom: 20px;
 }
 input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
 }
 button{
    background-color: rgb(19, 18, 18);
    color: aquamarine;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
 }
 #resultado{
    margin-top: 20px;
    padding: 15px;
    background-color: aquamarine;
    border-radius: 4px;
 }
 #taxa-info{
    margin-top: 15px;
    font-size: 14px;
    color: rgb(76, 170, 165);
 }